body {
    background-color: beige;
    text-align: center;
}

.status {
    font-size: 34px;
    padding-left: 115px;
    padding-right: 115px;
}

.habilidades {
    list-style: none;
    font-size: 25px;
}